@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}
.socialIcon {
    height: 50px;
    width: 50px;
}
.signIn {
    background: rgba(0, 0, 0, .4);
    !important;
    height: 100%;
    border: 5px solid black;
}
